{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>luch</title>

<!--link-->


<!--script-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

</head>
<body>



    <div class="container">
          <table class="table">
                <thead>
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                  </tr>
                </thead>
                {% for contact in contacts %}
                <tbody>
                  <tr>
                    <td>Имя пользователя</td>
                    <td>{{ contact.unique }}</td>
                  </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
        <ul class="pagination">

                {% if contacts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                   <li class="page-item "> <a class="page-link" href="?page={{ contacts.previous_page_number }}">previous &raquo;</a></li>
                {% endif %}
                 {% for page in contacts.paginator.page_range %}
                    {% if page == contacts.unique %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ contacts.next_page_number }}">next &raquo;</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}

        </ul>

</body>

<style>
    .pagination{
        margin-left: 650px;
}
</style>